# üö≤ **0. SQL ANALYSIS OF BIKE SALES**

## üîß **0.1 GETTING STARTED**

Run the first code below - it allows to run **SQLite** code by using **%%sql** at the beginning of each code cell. You can use also **Python's pandas**, which is already imported below.

Run the second code below to create **a view** that is used in later SQL queries.

Some query results might be hidden (on purpose)!

## üóÇÔ∏è **0.2 DATABASE**
The goal of this project is to analyze data on bike sales.

### üìë **TABLE OF CONTENTS**
*   Setup of SQLite, database, pandas library... **(cell 1.1. - 1.2.)**.
*   Overiew of the dataset **(cell 2 - 6)**.
*   Checking for null values, duplicate rows or incorrect records **(cell 7 - 10)**.
*   Sales analysis (starts in **cell 11**).

To view the data source visit --> [Bike Sales](https://www.kaggle.com/datasets/sadiqshah/bike-sales-in-europe)

## ‚ÑπÔ∏è **0.3 MORE**
For more information about this project, see **README** file in this folder.

*--MB*

In [ ]:
# run this code

# =====================================================
!pip install ipython-sql prettytable==3.10.0 --quiet


# =====================================================
import os

try:
    
    from google.colab import drive
    drive.mount('/content/drive')
    path = '/content/drive/MyDrive/Colab Notebooks/SQL Analysis of bike sales/Sales.csv'
    print("‚úÖ Wykryto Google Colab ‚Äî plik wczytany z Dysku Google.")
except ModuleNotFoundError:
    path = os.path.join(os.getcwd(), 'Sales.csv')
    print(f"‚úÖ Wykryto ≈õrodowisko lokalne ‚Äî szukam pliku: {path}")

# =====================================================
import pandas as pd
import sqlite3

if not os.path.exists(path):
    raise FileNotFoundError(f"Nie znaleziono pliku CSV pod ≈õcie≈ºkƒÖ: {path}")

df = pd.read_csv(path)

conn = sqlite3.connect('bike_sales.db')
df.to_sql('sales', conn, if_exists='replace', index=False)
conn.close()

print("‚úÖ Dane zosta≈Çy zapisane do bazy SQLite: bike_sales.db")


# =====================================================
import prettytable
prettytable.__dict__['DEFAULT'] = prettytable.MSWORD_FRIENDLY


%load_ext sql


%sql sqlite:///bike_sales.db

print("‚úÖ Po≈ÇƒÖczono z bazƒÖ danych SQLite. Mo≈ºesz wykonywaƒá zapytania SQL.")

   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.6/1.6 MB 19.3 MB/s eta 0:00:00
Mounted at /content/drive
‚úÖ Wykryto Google Colab ‚Äî plik wczytany z Dysku Google.
‚úÖ Dane zosta≈Çy zapisane do bazy SQLite: bike_sales.db
‚úÖ Po≈ÇƒÖczono z bazƒÖ danych SQLite. Mo≈ºesz wykonywaƒá zapytania SQL.

In [2]:

%%sql

--1.2. Run this code to create a view (used in the analysis part of the project)

--Creating a view of the columns that are most likely to be used

CREATE VIEW IF NOT EXISTS sales_info  AS

WITH sales_view AS
(
  SELECT
    Date,
    Customer_Age AS Age,
    Customer_Gender AS Gender,
    Country,
    Product_Category,
    Sub_Category,
    Product,
    Order_Quantity,
    Unit_Cost,
    Unit_Price,
    Unit_cost * Order_Quantity AS Total_Cost,
    Order_Quantity * Unit_price AS Order_Sum
  FROM
    sales
)
SELECT
  *,
  Order_Sum - Total_Cost AS Profit
FROM
  sales_view

 * sqlite:///bike_sales.db
Done.

[]

In [ ]:
%%sql

--1.2.1 delete view if needed

DROP VIEW sales_info

 * sqlite:///bike_sales.db
Done.

[]

# **Overiew of the dataset**

In [ ]:
#2.1. Data info

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  object
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: int64(9), object(9)
memory usage: 15.5+ MB

In [ ]:
%%sql
PRAGMA table_info(sales);

2.1. Data info in SQLite

 * sqlite:///bike_sales.db
Done.

[(0, 'Date', 'TEXT', 0, None, 0),
 (1, 'Day', 'INTEGER', 0, None, 0),
 (2, 'Month', 'TEXT', 0, None, 0),
 (3, 'Year', 'INTEGER', 0, None, 0),
 (4, 'Customer_Age', 'INTEGER', 0, None, 0),
 (5, 'Age_Group', 'TEXT', 0, None, 0),
 (6, 'Customer_Gender', 'TEXT', 0, None, 0),
 (7, 'Country', 'TEXT', 0, None, 0),
 (8, 'State', 'TEXT', 0, None, 0),
 (9, 'Product_Category', 'TEXT', 0, None, 0),
 (10, 'Sub_Category', 'TEXT', 0, None, 0),
 (11, 'Product', 'TEXT', 0, None, 0),
 (12, 'Order_Quantity', 'INTEGER', 0, None, 0),
 (13, 'Unit_Cost', 'INTEGER', 0, None, 0),
 (14, 'Unit_Price', 'INTEGER', 0, None, 0),
 (15, 'Profit', 'INTEGER', 0, None, 0),
 (16, 'Cost', 'INTEGER', 0, None, 0),
 (17, 'Revenue', 'INTEGER', 0, None, 0)]

In [ ]:
#3.Stats for int columns
df.describe()

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000
mean,15.665753,2014.401739,35.919212,11.901660,267.296366,452.938427,285.051665,469.318695,754.370360
std,8.781567,1.272510,11.021936,9.561857,549.835483,922.071219,453.887443,884.866118,1309.094674
min,1.000000,2011.000000,17.000000,1.000000,1.000000,2.000000,-30.000000,1.000000,2.000000
25%,8.000000,2013.000000,28.000000,2.000000,2.000000,5.000000,29.000000,28.000000,63.000000
50%,16.000000,2014.000000,35.000000,10.000000,9.000000,24.000000,101.000000,108.000000,223.000000
75%,23.000000,2016.000000,43.000000,20.000000,42.000000,70.000000,358.000000,432.000000,800.000000
max,31.000000,2016.000000,87.000000,32.000000,2171.000000,3578.000000,15096.000000,42978.000000,58074.000000

In [ ]:
#4. First 5 rows
df.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [ ]:
#5.Last 5 rows
df.tail()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

In [ ]:
#6. Overiew the data in sql, first 30 records

%%sql

SELECT
  *
FROM
  sales
LIMIT 30

 * sqlite:///bike_sales.db
Done.

[('2013-11-26', 26, 'November', 2013, 19, 'Youth (<25)', 'M', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 8, 45, 120, 590, 360, 950),
 ('2015-11-26', 26, 'November', 2015, 19, 'Youth (<25)', 'M', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 8, 45, 120, 590, 360, 950),
 ('2014-03-23', 23, 'March', 2014, 49, 'Adults (35-64)', 'M', 'Australia', 'New South Wales', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 23, 45, 120, 1366, 1035, 2401),
 ('2016-03-23', 23, 'March', 2016, 49, 'Adults (35-64)', 'M', 'Australia', 'New South Wales', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 20, 45, 120, 1188, 900, 2088),
 ('2014-05-15', 15, 'May', 2014, 47, 'Adults (35-64)', 'F', 'Australia', 'New South Wales', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 4, 45, 120, 238, 180, 418),
 ('2016-05-15', 15, 'May', 2016, 47, 'Adults (35-64)', 'F', 'Australia', 'New South Wales', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 5, 45, 120, 297, 225, 522),
 ('2014-05-22', 22, 'May', 2014, 47, 'Adults (35-64)', 'F', 'Australia', 'Victoria', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 4, 45, 120, 199, 180, 379),
 ('2016-05-22', 22, 'May', 2016, 47, 'Adults (35-64)', 'F', 'Australia', 'Victoria', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 2, 45, 120, 100, 90, 190),
 ('2014-02-22', 22, 'February', 2014, 35, 'Adults (35-64)', 'M', 'Australia', 'Victoria', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 22, 45, 120, 1096, 990, 2086),
 ('2016-02-22', 22, 'February', 2016, 35, 'Adults (35-64)', 'M', 'Australia', 'Victoria', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 21, 45, 120, 1046, 945, 1991),
 ('2013-07-30', 30, 'July', 2013, 32, 'Young Adults (25-34)', 'F', 'Australia', 'Victoria', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 8, 45, 120, 398, 360, 758),
 ('2015-07-30', 30, 'July', 2015, 32, 'Young Adults (25-34)', 'F', 'Australia', 'Victoria', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 8, 45, 120, 398, 360, 758),
 ('2013-07-15', 15, 'July', 2013, 34, 'Young Adults (25-34)', 'M', 'Australia', 'Victoria', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 7, 45, 120, 349, 315, 664),
 ('2015-07-15', 15, 'July', 2015, 34, 'Young Adults (25-34)', 'M', 'Australia', 'Victoria', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 7, 45, 120, 349, 315, 664),
 ('2013-08-02', 2, 'August', 2013, 29, 'Young Adults (25-34)', 'M', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 5, 45, 120, 369, 225, 594),
 ('2015-08-02', 2, 'August', 2015, 29, 'Young Adults (25-34)', 'M', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 7, 45, 120, 517, 315, 832),
 ('2013-09-02', 2, 'September', 2013, 29, 'Young Adults (25-34)', 'M', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 2, 45, 120, 148, 90, 238),
 ('2015-09-02', 2, 'September', 2015, 29, 'Young Adults (25-34)', 'M', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 1, 45, 120, 74, 45, 119),
 ('2014-01-22', 22, 'January', 2014, 29, 'Young Adults (25-34)', 'M', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 1, 45, 120, 74, 45, 119),
 ('2016-01-22', 22, 'January', 2016, 29, 'Young Adults (25-34)', 'M', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 1, 45, 120, 74, 45, 119),
 ('2014-05-17', 17, 'May', 2014, 29, 'Young Adults (25-34)', 'M', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 6, 45, 120, 443, 270, 713),
 ('2016-05-17', 17, 'May', 2016, 29, 'Young Adults (25-34)', 'M', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 8, 45, 120, 590, 360, 950),
 ('2014-03-27', 27, 'March', 2014, 51, 'Adults (35-64)', 'M', 'United States', 'Oregon', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 9, 45, 120, 524, 405, 929),
 ('2016-03-27', 27, 'March', 2016, 51, 'Adults (35-64)', 'M', 'United States', 'Oregon', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 7, 45, 120, 407, 315, 722),
 ('2013-08-25', 25, 'August', 2013, 49, 'Adults (35-64)', 'M', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 3, 45, 120, 221, 135, 356),
 ('2015-08-25', 25, 'August', 2015, 49, 'Adults (35-64)', 'M', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 1, 45, 120, 74, 45, 119),
 ('2013-12-26', 26, 'December', 2013, 49, 'Adults (35-64)', 'M', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 6, 45, 120, 443, 270, 713),
 ('2015-12-26', 26, 'December', 2015, 49, 'Adults (35-64)', 'M', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 5, 45, 120, 369, 225, 594),
 ('2014-01-02', 2, 'January', 2014, 48, 'Adults (35-64)', 'F', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 4, 45, 120, 295, 180, 475),
 ('2016-01-02', 2, 'January', 2016, 48, 'Adults (35-64)', 'F', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 'Hitch Rack - 4-Bike', 4, 45, 120, 295, 180, 475)]

# **Checking for null values, duplicate rows or incorrect records**

In [ ]:
%%sql

--7.1. Checking if there are any duplicated rows in the table

SELECT COUNT(*) AS all_rows FROM sales;

 * sqlite:///bike_sales.db
Done.

[(113036,)]

In [ ]:
%%sql

--7.2. Checking if there are any duplicated rows in the table

SELECT DISTINCT COUNT(*) AS unique_rows FROM sales

 * sqlite:///bike_sales.db
Done.

[(113036,)]

In [ ]:
%%sql

--8. Looking for null values for the most important columns

SELECT
  *
FROM
  Sales
WHERE
  Date IS NULL OR Customer_Age IS NULL OR Customer_Gender IS NULL OR country IS NULL OR Product_Category IS NULL OR Profit IS NULL OR cost IS NULL OR Revenue IS NULL

 * sqlite:///bike_sales.db
Done.

[]

In [ ]:
%%sql

-- Chcecking the correct format of date type column

SELECT
  Date
FROM
  sales
WHERE
  Date NOT LIKE '____-__-__'

 * sqlite:///bike_sales.db
Done.

[]

In [ ]:
%%sql

--10.1 Distinct genders

SELECT DISTINCT Customer_Gender FROM sales;

 * sqlite:///bike_sales.db
Done.

[('M',), ('F',)]

In [ ]:
%%sql

--10.2. Distinct age

SELECT DISTINCT Customer_Age FROM sales;

 * sqlite:///bike_sales.db
Done.

[(19,),
 (49,),
 (47,),
 (35,),
 (32,),
 (34,),
 (29,),
 (51,),
 (48,),
 (43,),
 (61,),
 (57,),
 (38,),
 (52,),
 (24,),
 (23,),
 (26,),
 (54,),
 (46,),
 (41,),
 (33,),
 (42,),
 (45,),
 (53,),
 (21,),
 (22,),
 (67,),
 (31,),
 (37,),
 (87,),
 (25,),
 (40,),
 (44,),
 (55,),
 (50,),
 (59,),
 (17,),
 (27,),
 (28,),
 (36,),
 (56,),
 (58,),
 (30,),
 (18,),
 (62,),
 (39,),
 (64,),
 (63,),
 (20,),
 (60,),
 (84,),
 (68,),
 (65,),
 (73,),
 (69,),
 (66,),
 (75,),
 (76,),
 (78,),
 (71,),
 (72,),
 (82,),
 (86,),
 (77,),
 (74,),
 (85,),
 (81,),
 (80,),
 (70,),
 (79,)]

In [ ]:
%%sql

--10.3. Distinct countries

SELECT DISTINCT Country FROM sales

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
%%sql

--10.4. Distinct countries

SELECT DISTINCT Product_Category FROM sales

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
%%sql

--10.5. Chcecking if any int type column is below 0 (except for profit column)

SELECT
  *
FROM
  sales
WHERE
  Order_Quantity < 0 OR	Unit_Cost < 0 OR Unit_Price < 0 OR	Cost <0 OR	Revenue < 0

 * sqlite:///bike_sales.db
Done.

[]

# **11. Sales analysis**

In [ ]:
%%sql

--1.0. Number of Orders - age distribution by gender

WITH Age_Segmentation AS --Age segmentation
(
  SELECT
    Age,
    Gender,
    CASE
      WHEN Age < 18 THEN '1. UnderAge (below 18)' --in most countries mentioned in the data, the Age of majority is 18 (with some exceptions in certain parts of the USA and Canada)
      WHEN Age >= 18 AND Age < 25 THEN '2. Young Adults (18-24)'
      WHEN Age >= 25 AND Age < 35 THEN '3. Young Professionals (25-34)'
      WHEN Age >= 35 AND Age < 45 THEN '4. Early Adults (35-44)'
      WHEN Age >= 45 AND Age < 55 THEN '5. Middle Adults (45-54)'
      WHEN Age >= 55 AND Age < 65 THEN '6. Older Adults (55-64)'
      WHEN Age >= 65 THEN '7. Seniors'
    END AS Age_Group
  FROM Sales_Info
)
SELECT --Age segmentation by gender
 Age_Group,
 COUNT(Age) AS Total_Count_of_Orders,
 ROUND(100.0 * COUNT(CASE WHEN Gender = 'M' THEN 1 END) / COUNT(Age),2) AS Men_Percent_Distribution,
 ROUND(100.0 * COUNT(CASE WHEN Gender = 'F' THEN 1 END) / COUNT(Age),2) AS Women_Percent_Distribution,
 CAST(AVG(Age) AS INTEGER) AS Avg_Age_in_Age_Groups
FROM
  Age_Segmentation
GROUP BY
  Age_Group
ORDER BY
  Age_Group;

 * sqlite:///bike_sales.db
Done.

[('1. UnderAge (below 18)', 1306, 64.78, 35.22, 17),
 ('2. Young Adults (18-24)', 16522, 53.36, 46.64, 21),
 ('3. Young Professionals (25-34)', 38654, 51.56, 48.44, 29),
 ('4. Early Adults (35-44)', 31874, 51.02, 48.98, 39),
 ('5. Middle Adults (45-54)', 17454, 49.96, 50.04, 49),
 ('6. Older Adults (55-64)', 6496, 51.45, 48.55, 58),
 ('7. Seniors', 730, 54.25, 45.75, 70)]

In [3]:
%%sql

--1.1. Number of Orders (including quantity of each order) - age distribution by gender

WITH Age_Segmentation AS --Age segmentation
(
  SELECT
    Age,
    Gender,
    CASE
      WHEN Age < 18 THEN '1. UnderAge (below 18)' --in most countries mentioned in the data, the Age of majority is 18 (with some exceptions in certain parts of the USA and Canada)
      WHEN Age >= 18 AND Age < 25 THEN '2. Young Adults (18-24)'
      WHEN Age >= 25 AND Age < 35 THEN '3. Young Professionals (25-34)'
      WHEN Age >= 35 AND Age < 45 THEN '4. Early Adults (35-44)'
      WHEN Age >= 45 AND Age < 55 THEN '5. Middle Adults (45-54)'
      WHEN Age >= 55 AND Age < 65 THEN '6. Older Adults (55-64)'
      WHEN Age >= 65 THEN '7. Seniors'
    END AS Age_Group,
    Order_Quantity
  FROM
    Sales_Info
), Pre_Query AS
(
  SELECT --Age segmentation by gender
    Age_Group,
    SUM(Order_Quantity) AS Total_Sum_of_Orders,
    SUM(CASE WHEN Gender = 'F' THEN Order_Quantity END) Female_Orders,
    SUM(CASE WHEN Gender = 'M' THEN Order_Quantity END) Male_Orders
  FROM
    Age_Segmentation
  GROUP BY
    Age_Group
)
SELECT
  *,
  ROUND((SUM(Male_Orders + Female_Orders) OVER(PARTITION BY Age_Group)) * 100.0 / (SUM(Total_Sum_of_Orders) OVER()),2) || '%' AS Group_Percentage --age group / all groups ratio
FROM
  Pre_Query

UNION ALL

SELECT -- select with sums of total sum, female/male orders
  '--Total Sum--' AS Age_Group,
  SUM(Total_Sum_of_Orders),
  SUM(Female_Orders),
  SUM(Male_Orders),
  '--' AS Group_Percentage
FROM Pre_Query;

 * sqlite:///bike_sales.db
Done.

[('1. UnderAge (below 18)', 16038, 5786, 10252, '1.19%'),
 ('2. Young Adults (18-24)', 200109, 92521, 107588, '14.87%'),
 ('3. Young Professionals (25-34)', 446875, 214441, 232434, '33.22%'),
 ('4. Early Adults (35-44)', 375614, 181821, 193793, '27.92%'),
 ('5. Middle Adults (45-54)', 212869, 107081, 105788, '15.82%'),
 ('6. Older Adults (55-64)', 83934, 39577, 44357, '6.24%'),
 ('7. Seniors', 9877, 4506, 5371, '0.73%'),
 ('--Total Sum--', 1345316, 645733, 699583, '--')]

In [13]:
%%sql

--1.3. Bike category sales by age groups

WITH Age_Segmentation AS --Age segmentation
(
  SELECT
    CASE
      WHEN Age < 18 THEN '1. UnderAge (below 18)' --in most countries mentioned in the data, the Age of majority is 18 (with some exceptions in certain parts of the USA and Canada)
      WHEN Age >= 18 AND Age < 25 THEN '2. Young Adults (18-24)'
      WHEN Age >= 25 AND Age < 35 THEN '3. Young Professionals (25-34)'
      WHEN Age >= 35 AND Age < 45 THEN '4. Early Adults (35-44)'
      WHEN Age >= 45 AND Age < 55 THEN '5. Middle Adults (45-54)'
      WHEN Age >= 55 AND Age < 65 THEN '6. Older Adults (55-64)'
      WHEN Age >= 65 THEN '7. Seniors'
    END AS Age_Group,
    Sub_Category,
    Order_Quantity
  FROM
    Sales_Info
  WHERE
    Product_Category = 'Bikes'
)
SELECT --Age segmentation by gender
 Age_Group,
 ROUND(100.0 * SUM(CASE WHEN Sub_Category = 'Mountain Bikes' THEN Order_Quantity END) / SUM(Order_Quantity),2) AS Mountaint_Bikes_Orders,
 ROUND(100.0 * SUM(CASE WHEN Sub_Category = 'Road Bikes' THEN Order_Quantity END) / SUM(Order_Quantity),2) AS Road_Bikes_Orders,
 ROUND(100.0 * SUM(CASE WHEN Sub_Category = 'Touring Bikes' THEN Order_Quantity END) / SUM(Order_Quantity),2) AS Touring_Bikes_Orders
FROM
  Age_Segmentation
GROUP BY
  Age_Group
ORDER BY
  Age_Group;

 * sqlite:///bike_sales.db
Done.

[('1. UnderAge (below 18)', 19.01, 72.77, 8.22),
 ('2. Young Adults (18-24)', 32.53, 59.03, 8.44),
 ('3. Young Professionals (25-34)', 33.19, 54.14, 12.67),
 ('4. Early Adults (35-44)', 33.3, 52.31, 14.39),
 ('5. Middle Adults (45-54)', 31.76, 53.21, 15.03),
 ('6. Older Adults (55-64)', 36.48, 55.04, 8.48),
 ('7. Seniors', 43.75, 45.0, 11.25)]

In [ ]:
%%sql

--1.3. Bike category sales by age groups

WITH Age_Segmentation AS --Age segmentation
(
  SELECT
    CASE
      WHEN Age < 18 THEN '1. UnderAge (below 18)' --in most countries mentioned in the data, the Age of majority is 18 (with some exceptions in certain parts of the USA and Canada)
      WHEN Age >= 18 AND Age < 25 THEN '2. Young Adults (18-24)'
      WHEN Age >= 25 AND Age < 35 THEN '3. Young Professionals (25-34)'
      WHEN Age >= 35 AND Age < 45 THEN '4. Early Adults (35-44)'
      WHEN Age >= 45 AND Age < 55 THEN '5. Middle Adults (45-54)'
      WHEN Age >= 55 AND Age < 65 THEN '6. Older Adults (55-64)'
      WHEN Age >= 65 THEN '7. Seniors'
    END AS Age_Group,
    Sub_Category,
    Order_Quantity
  FROM
    Sales_Info
  WHERE
    Product_Category = 'Bikes'
)
SELECT --Age segmentation by gender
 Age_Group,
 ROUND(100.0 * SUM(CASE WHEN Sub_Category = 'Mountain Bikes' THEN Order_Quantity END) / SUM(Order_Quantity),2) AS Mountaint_Bikes_Orders,
 ROUND(100.0 * SUM(CASE WHEN Sub_Category = 'Road Bikes' THEN Order_Quantity END) / SUM(Order_Quantity),2) AS Road_Bikes_Orders,
 ROUND(100.0 * SUM(CASE WHEN Sub_Category = 'Touring Bikes' THEN Order_Quantity END) / SUM(Order_Quantity),2) AS Touring_Bikes_Orders
FROM
  Age_Segmentation
GROUP BY
  Age_Group
ORDER BY
  Age_Group;

In [21]:
%%sql

--1.5. Average spending- age distribution

WITH Age_Segmentation AS --Age segmentation
(
  SELECT
    CASE
      WHEN Age < 18 THEN '1. UnderAge (below 18)' --in most countries mentioned in the data, the Age of majority is 18 (with some exceptions in certain parts of the USA and Canada)
      WHEN Age >= 18 AND Age < 25 THEN '2. Young Adults (18-24)'
      WHEN Age >= 25 AND Age < 35 THEN '3. Young Professionals (25-34)'
      WHEN Age >= 35 AND Age < 45 THEN '4. Early Adults (35-44)'
      WHEN Age >= 45 AND Age < 55 THEN '5. Middle Adults (45-54)'
      WHEN Age >= 55 AND Age < 65 THEN '6. Older Adults (55-64)'
      WHEN Age >= 65 THEN '7. Seniors'
    END AS Age_Group,
    Order_Sum,
    Order_Quantity
  FROM
    Sales_Info
  WHERE
    Product_Category = 'Bikes'
)
SELECT --Age segmentation by gender
 Age_Group,
 ROUND(AVG(Order_Sum),2) AS Avg_Spending
FROM
  Age_Segmentation
GROUP BY
  Age_Group
ORDER BY
  Age_Group;

 * sqlite:///bike_sales.db
Done.

[('1. UnderAge (below 18)', 1927.2),
 ('2. Young Adults (18-24)', 2882.75),
 ('3. Young Professionals (25-34)', 2615.49),
 ('4. Early Adults (35-44)', 2733.3),
 ('5. Middle Adults (45-54)', 2510.82),
 ('6. Older Adults (55-64)', 2651.78),
 ('7. Seniors', 2674.89)]

In [ ]:
%%sql

--2.0 Average profit of each season for every country

WITH Month_Extracted AS --extracting months
(
  SELECT
    Country,
    CAST(strftime('%m', Date) AS INTEGER) AS Month,
    Profit
  FROM
    Sales_Info
), Seasons AS --seasons case statement
(
  SELECT
    Country,
    CASE
      WHEN Month BETWEEN 6 AND 8 THEN 'Summer'
      WHEN Month BETWEEN 9 AND 11 THEN 'Autumn'
      WHEN Month = 12 OR Month BETWEEN 1 AND 2 THEN 'Winter'
      WHEN Month BETWEEN 3 AND 5 THEN 'Spring'
    END AS Season,
    Profit
  FROM
    Month_Extracted
) -- final query
SELECT
  Country,
  ROUND(AVG(Profit),2) AS Avg_Profit_Overall,
  ROUND(AVG(CASE WHEN Season = 'Spring' THEN Profit END),2) AS Spring_avg,
  ROUND(AVG(CASE WHEN Season = 'Summer' THEN Profit END),2) AS Summer_avg,
  ROUND(AVG(CASE WHEN Season = 'Autumn' THEN Profit END),2) AS Autumn_avg,
  ROUND(AVG(CASE WHEN Season = 'Winter' THEN Profit END),2) AS Winter_avg
FROM
  Seasons
GROUP BY
  Country
ORDER BY
  Country

 * sqlite:///bike_sales.db
Done.

[('Australia', 455.45, 443.36, 445.49, 467.78, 465.62),
 ('Canada', 267.75, 258.3, 275.1, 245.72, 290.2),
 ('France', 390.49, 383.02, 386.64, 376.97, 411.29),
 ('Germany', 393.19, 415.83, 403.18, 362.66, 381.32),
 ('United Kingdom', 356.66, 354.2, 359.14, 326.05, 383.71),
 ('United States', 354.87, 374.0, 364.74, 322.51, 354.34)]

In [ ]:
%%sql

--2.1 Number of orders for every country for each season

WITH Month_Extracted AS --extracting months
(
  SELECT
    Country,
    CAST(strftime('%m', Date) AS INTEGER) AS Month
  FROM
    Sales_Info
), Seasons AS --seasons case statement
(
  SELECT
    Country,
    CASE
      WHEN Month BETWEEN 6 AND 8 THEN 'Summer'
      WHEN Month BETWEEN 9 AND 11 THEN 'Autumn'
      WHEN Month = 12 OR Month BETWEEN 1 AND 2 THEN 'Winter'
      WHEN Month BETWEEN 3 AND 5 THEN 'Spring'
    END AS Season
  FROM
    Month_Extracted
), Pre_Query AS-- final query
(
  SELECT
    Country,
    COUNT(CASE WHEN Season = 'Spring' THEN 1 END) AS Spring_Ord,
    COUNT(CASE WHEN Season = 'Summer' THEN 1 END) AS Summer_Ord,
    COUNT(CASE WHEN Season = 'Autumn' THEN 1 END) AS Autumn_Ord,
    COUNT(CASE WHEN Season = 'Winter' THEN 1 END) AS Winter_Ord
  FROM
    Seasons
  GROUP BY
    Country
)
SELECT
  *,
  ROUND(SUM(Spring_Ord + Summer_Ord + Autumn_Ord + Winter_Ord) OVER(PARTITION BY Country)*100.0 / SUM(Spring_Ord + Summer_Ord + Autumn_Ord + Winter_Ord) OVER(),2) || '%' Country_Percent
FROM
  Pre_Query

UNION ALL

SELECT DISTINCT --every season by all seasons ratio
  'Percent_by_Season',
   ROUND(SUM(Spring_Ord) OVER()*100.0 / SUM(Spring_Ord + Summer_Ord + Autumn_Ord + Winter_Ord) OVER(),2) || '%',
   ROUND(SUM(Summer_Ord) OVER()*100.0 / SUM(Spring_Ord + Summer_Ord + Autumn_Ord + Winter_Ord) OVER(),2) || '%',
   ROUND(SUM(Autumn_Ord) OVER()*100.0 / SUM(Spring_Ord + Summer_Ord + Autumn_Ord + Winter_Ord) OVER(),2) || '%',
   ROUND(SUM(Winter_Ord) OVER()*100.0 / SUM(Spring_Ord + Summer_Ord + Autumn_Ord + Winter_Ord) OVER(),2) || '%',
   '--'
  FROM
    Pre_Query

 * sqlite:///bike_sales.db
Done.

[('Australia', 6422, 5614, 5730, 6170, '21.18%'),
 ('Canada', 3586, 3526, 3388, 3678, '12.54%'),
 ('France', 3178, 2616, 2168, 3036, '9.73%'),
 ('Germany', 3346, 2632, 2214, 2906, '9.82%'),
 ('United Kingdom', 3712, 3202, 3126, 3580, '12.05%'),
 ('United States', 10740, 9306, 9024, 10136, '34.68%'),
 ('Percent_by_Season', '27.41%', '23.79%', '22.69%', '26.1%', '--')]

In [ ]:
%%sql

--3. Bike sales information (for orders with more than 1 bike)

WITH Bikes_Sales AS --Number of bikes for each type and number of orders by gender
(
  SELECT
    Sub_Category,
    COUNT(*) AS Num_of_Orders,
    COUNT(CASE WHEN Gender = 'M' THEN 1 END) AS Num_of_Male_Orders,
    COUNT(CASE WHEN Gender = 'F' THEN 1 END) AS Num_of_Female_Orders
  FROM
    Sales_Info
  WHERE
    Sub_Category LIKE '%Bikes' AND Order_Quantity > 1 --only bikes > 1
  GROUP BY
    Sub_Category
), All_Bikes AS --Number of all bike orders
(
  SELECT
    COUNT(*) AS Num_of_Bikes
  FROM
    Sales_Info
  WHERE
    Sub_Category LIKE '%Bikes' AND Order_Quantity > 1 --only bikes > 1
)
SELECT
  Sub_Category AS Bike_Type,
  Num_of_Orders,
  ROUND(Num_of_Orders * 100.0 / Num_of_Bikes, 2) AS Percent_of_Total_Orders, --%
  CASE
    WHEN Num_of_Male_Orders < Num_of_Female_Orders THEN 'Females'
    WHEN Num_of_Male_Orders > Num_of_Female_Orders THEN 'Males'
    ELSE 'Draw'
  END AS Who_Ordered_More
FROM
  Bikes_Sales
CROSS JOIN
  All_Bikes

 * sqlite:///bike_sales.db
Done.

[('Mountain Bikes', 2195, 29.59, 'Females'),
 ('Road Bikes', 4601, 62.03, 'Males'),
 ('Touring Bikes', 621, 8.37, 'Males')]

In [ ]:
%%sql

--4. Avg product total cost change over the years

 * sqlite:///bike_sales.db
Done.

[]

In [ ]:
%%sql

--4.1 Accessories

WITH Avg_Accessories AS --avg by year
(
  SELECT
    CAST(strftime('%Y', Date) AS INTEGER) AS Year,
    ROUND(AVG(Total_Cost),2) AS Avg_Acc_Cost
  FROM
    Sales_Info
  WHERE
    Product_Category = 'Accessories'
  GROUP BY
    Year
), Pre_Query AS --adding lag function
(
  SELECT
    Year,
    Avg_Acc_Cost,
    COALESCE(ROUND(Avg_Acc_Cost - LAG(Avg_Acc_Cost) OVER(ORDER BY Year),2),0) AS Change_Over_Year --previous year change diff
  FROM
    Avg_Accessories
  ORDER BY
    Year
)
SELECT --additional case statement
  Year,
  Avg_Acc_Cost,
  CASE
    WHEN Change_Over_Year > 0 THEN '+' || Change_Over_Year
    ELSE Change_Over_Year
  END AS Change_Over_Year
FROM
  Pre_Query

 * sqlite:///bike_sales.db
Done.

[(2013, 93.11, 0),
 (2014, 88.75, -4.36),
 (2015, 90.41, '+1.66'),
 (2016, 85.86, -4.55)]

In [ ]:
%%sql

--4.2 Clothing

WITH Avg_Accessories AS --avg by year
(
  SELECT
    CAST(strftime('%Y', Date) AS INTEGER) AS Year,
    ROUND(AVG(Total_Cost),2) AS Avg_Acc_Cost
  FROM
    Sales_Info
  WHERE
    Product_Category = 'Clothing'
  GROUP BY
    Year
), Pre_Query AS --adding lag function
(
  SELECT
    Year,
    Avg_Acc_Cost,
    COALESCE(ROUND(Avg_Acc_Cost - LAG(Avg_Acc_Cost) OVER(ORDER BY Year),2),0) AS Change_Over_Year --previous year change diff
  FROM
    Avg_Accessories
  ORDER BY
    Year
)
SELECT --additional case statement
  Year,
  Avg_Acc_Cost AS Avg_Clothes_Cost,
  CASE
    WHEN Change_Over_Year > 0 THEN '+' || Change_Over_Year
    ELSE Change_Over_Year
  END AS Change_Over_Year
FROM
  Pre_Query

 * sqlite:///bike_sales.db
Done.

[(2013, 354.23, 0),
 (2014, 313.26, -40.97),
 (2015, 344.35, '+31.09'),
 (2016, 304.75, -39.6)]

In [ ]:
%%sql

--4.3 Bikes

WITH Avg_Accessories AS --avg by year
(
  SELECT
    CAST(strftime('%Y', Date) AS INTEGER) AS Year,
    ROUND(AVG(Total_Cost),2) AS Avg_Acc_Cost
  FROM
    Sales_Info
  WHERE
    Product_Category = 'Bikes'
  GROUP BY
    Year
), Pre_Query AS --adding lag function
(
  SELECT
    Year,
    Avg_Acc_Cost,
    COALESCE(ROUND(Avg_Acc_Cost - LAG(Avg_Acc_Cost) OVER(ORDER BY Year),2),0) AS Change_Over_Year --previous year change diff
  FROM
    Avg_Accessories
  ORDER BY
    Year
)
SELECT --additional case statement
  Year,
  Avg_Acc_Cost AS Avg_Bikes_Cost,
  CASE
    WHEN Change_Over_Year > 0 THEN '+' || Change_Over_Year
    ELSE Change_Over_Year
  END AS Change_Over_Year
FROM
  Pre_Query

 * sqlite:///bike_sales.db
Done.

[(2011, 2272.54, 0),
 (2012, 2324.99, '+52.45'),
 (2013, 1150.33, -1174.66),
 (2014, 1090.3, -60.03),
 (2015, 1726.82, '+636.52'),
 (2016, 1630.54, -96.28)]

In [ ]:
%%sql
--OUTPUT HIDDEN

--5. USA sales analysis for 2015

SELECT
  DENSE_RANK() OVER(PARTITION BY Date ORDER BY Profit DESC) AS Rank_By_Profit_Per_Day,
  Date,
  Product_Category,
  Sub_Category,
  Product,
  Order_Quantity,
  ROUND(Order_Quantity *100.0 / SUM(Order_Quantity) OVER(PARTITION BY Date),1) AS Percent_Ord_Per_Day,
  Profit,
  NULLIF(MAX(Profit) OVER(PARTITION BY Date) - Profit,0) AS Maxx_Diff_For_Profit_Per_Day
FROM
  Sales_Info
WHERE
  Country = 'United States' AND strftime('%Y', Date) = '2015'
ORDER BY
  Date
LIMIT 20 -- DELETE LIMIT TO SEE MORE

 * sqlite:///bike_sales.db
Done.

[(1, '2015-01-01', 'Bikes', 'Road Bikes', 'Road-150 Red, 48', 3, 37.5, 4221, None),
 (2, '2015-01-01', 'Bikes', 'Mountain Bikes', 'Mountain-200 Silver, 46', 1, 12.5, 1054, 3167),
 (3, '2015-01-01', 'Bikes', 'Road Bikes', 'Road-650 Red, 62', 3, 37.5, 888, 3333),
 (4, '2015-01-01', 'Bikes', 'Road Bikes', 'Road-650 Black, 44', 1, 12.5, 296, 3925),
 (1, '2015-01-02', 'Bikes', 'Road Bikes', 'Road-150 Red, 62', 1, 100.0, 1407, None),
 (1, '2015-01-03', 'Bikes', 'Road Bikes', 'Road-650 Black, 58', 3, 100.0, 888, None),
 (1, '2015-01-04', 'Bikes', 'Mountain Bikes', 'Mountain-500 Black, 44', 2, 100.0, 490, None),
 (1, '2015-01-05', 'Bikes', 'Mountain Bikes', 'Mountain-500 Silver, 42', 1, 100.0, 257, None),
 (1, '2015-01-07', 'Bikes', 'Road Bikes', 'Road-150 Red, 52', 2, 40.0, 2814, None),
 (2, '2015-01-07', 'Bikes', 'Road Bikes', 'Road-250 Red, 48', 2, 40.0, 1848, 966),
 (3, '2015-01-07', 'Bikes', 'Road Bikes', 'Road-250 Red, 48', 1, 20.0, 924, 1890),
 (1, '2015-01-08', 'Bikes', 'Mountain Bikes', 'Mountain-200 Black, 46', 1, 20.0, 1043, None),
 (2, '2015-01-08', 'Bikes', 'Road Bikes', 'Road-650 Red, 62', 3, 60.0, 888, 155),
 (3, '2015-01-08', 'Bikes', 'Road Bikes', 'Road-650 Red, 58', 1, 20.0, 296, 747),
 (1, '2015-01-09', 'Bikes', 'Mountain Bikes', 'Mountain-200 Silver, 42', 1, 14.3, 1054, None),
 (1, '2015-01-09', 'Bikes', 'Mountain Bikes', 'Mountain-200 Silver, 38', 1, 14.3, 1054, None),
 (2, '2015-01-09', 'Bikes', 'Mountain Bikes', 'Mountain-400-W Silver, 42', 3, 42.9, 1047, 7),
 (3, '2015-01-09', 'Bikes', 'Road Bikes', 'Road-550-W Yellow, 44', 2, 28.6, 814, 240),
 (1, '2015-01-10', 'Bikes', 'Road Bikes', 'Road-150 Red, 44', 1, 50.0, 1407, None),
 (1, '2015-01-10', 'Bikes', 'Road Bikes', 'Road-150 Red, 62', 1, 50.0, 1407, None)]